*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #252525;
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 999;

}

.bbody{
    margin-left: 3%;
}

.logo {
    font-size: 20px;
    font-weight: 200px;
    color: #fefefe;
}

.hamburger {
    display: none;
}

.navbar ul {
    display: flex;

}

.navbar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;

}

.navbar ul li a:hover {
    color: black;
    background-color: #fefefe;

}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;

    }

}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;

    }

}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefefe;
        margin: 6px 0;

    }

    .navbar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(0, 0, 0);
        transition: 0.2s;
        overflow: hidden;

    }
    .navbar.active{
        height: 450px;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
.navbar.active ul{

opacity:1;
}
    .navbar ul li a {
        margin-bottom: 12px;
        /* color: red; */

    }

}


.containerr{

    position: relative;
    
background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), inset 0px 1px 4px rgba(255, 255, 255, 0.8), inset 0px 20px 40px rgba(255, 255, 255, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25), inset 0px -40px 40px rgba(0, 0, 0, 0.2), inset 0px 4px 12px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 49px;
    margin-top: 4%;
    padding: 30px;
}

.contactform .form-field {
    position: relative;
    margin: 32px 0;
}

.contactform .inputtext {
    display: block;
    color: white;
    width: 100%;
    height: 40px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: #000b4400;
    margin-top: 60px;

}

.contactform .inputtext:focus+.label,
.contactform .inputtext.not-empty+.label {
    transform: translateY(-24px);
}

.contactform .inputtext:focus {
    outline: none;

}

.contactform .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;

}

.submitbtn {
    background: linear-gradient(90deg, #777777 0%, #5E5B5B 25%, #4A4949 67.71%, #656363 89.06%, #504D4D 100%);
    border-radius: 10px;
    font-weight: 700;
    width: 150px;
    height: 60px;
    color: aliceblue;
    font-size: 30px;
    position: relative;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

::placeholder {
    color: rgb(172, 172, 172);
}

.submitbtn:hover {
    background: #a85bff;
    color: rgb(255, 255, 255);
}

footer{
    margin-top: 6%;
}


.box-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

.iconz:hover , .iconz:focus {
  /* fill: linear-gradient(234deg, red , blue); */
  fill: rgb(255, 241, 88);
}